.ct-social-box{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	transition: all 200ms ease;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	padding-bottom: 8rem;

	@include media-breakpoint-up(lg) {
		text-align: left;
		justify-content: space-between;
	}

	h4{
		width: 100%;
		margin-bottom: 1rem;
		opacity: .35;

		@include media-breakpoint-up(lg) {
			width: auto;
			margin-bottom: 0
		}
	}

	&__icons{
		align-self: flex-end;
	}

	.fa-boxed{
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		position: relative;
		z-index: 1;
		padding: 0;
		margin: 0;
		transition: all 200ms ease;

		&::after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			border-radius: 100%;
		}

		&.fa-facebook{
			color: white;

			&::after{
				background-color: #305A95;
			}
		}
		&.fa-twitter{
			color: white;

			&::after{
				background-color: #3D8CEA;
			}
		}
		&.fa-linkedin{
			color: white;

			&::after{
				background-color: #237CB4;
			}
		}
		&.fa-google-plus{
			color: white;

			&::after{
				background-color: #C53335;
			}
		}

	}

	a{
		text-decoration: none;

		&:hover{
			text-decoration: none;
		}
	}

	a + a{
		margin-left: 1vh;

	}

	a:hover{
		.fa-boxed{
			opacity: 0.75;
		}
	}
}
