#footer-navigation{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  text-align: center;

  @include pseudo-block( 'after', 'top', 0.125, false, 0, 0, 0 );

  @include media-breakpoint-up(lg) {
    text-align: left;
  }

  .menu{
    list-style: none;
    display: inline-block;
    font-size: .85em;
    width: 100%;
    @include reset-spacing();

    @include media-breakpoint-up(sm) {
      width: auto;
      font-size: .75em;
    }
  }
  .menu-item{
    display: inline-block;
    width: 48%;
    padding-top: .25rem;
    padding-bottom: .25rem;

    @include media-breakpoint-up(sm) {
      width: auto;
      &:not(:last-child){
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 3.25rem;
      }
    }
    @include media-breakpoint-up(md) {
      width: auto;
      &:not(:last-child){
        margin-right: 4.25rem;
      }
    }
    @include media-breakpoint-up(lg) {
      width: auto;
      &:not(:last-child){
        margin-right: 6.25rem;
      }
    }
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
}
#ct-scroll-top{
  font-size: .685em;
  margin-top: 2.5rem;
  display: inline-block;

  @include media-breakpoint-up(lg) {
    float: right;
    margin-left: 2rem;
    margin-top: 0.25em;
  }

  .ti-angle-up{
    margin-right: .5rem;
    font-size: 10px;
  }
}
